* {
  margin: 0;
}

body {
  font-family: 'Tillana', cursive;
  margin-top: 1em;
  background-color: black;
  background-image: url('images/background_lights.jpg');
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 32;
  text-align: center;
}

#points_container {
  text-align: center;
  padding: 1em;
  font-size: 20px;
  font-weight: 900;
}

#score, #lives {
  color: yellow;
}

#questions_container {
  flex: 1;
  width: 300px;
  height: 350px;
  background-color: #fc3ea4;
  margin: 25px;
  padding: 20px;
  border: 1px dotted black;
  border-radius: 25px;
  color: white;
}

#questions_container p {
  font-family: 'Pangolin', cursive;
}

#bowl {
  width: auto;
  height: auto;
  border-radius: 1em 1em 10em 10em;
  border: 7px solid silver;
  gradient(#ddd,#999) 1em 0.5em;
  background: radial-gradient(#ddd,#999);
  box-shadow: 0 0.1em 0.2em ;
  overflow: hidden;
}

#stage {
  width: 480px;
  margin: auto;
  height: 400px;
  background-image: url('images/level1.jpg');
  background-size: cover;
  position: relative;
  flex: 1.5;
}

#unicyclist {
  width: 50px;
  height: 150px;
  bottom: 0;
  /*background-color: green;*/
  position: absolute;
  left: 200px;
  overflow: hidden;
}

#unicyclist img {
  width: 100%;
  margin: auto;
}

.plates {
  width: 50px;
  height: 40px;
  /*background-color: yellow;*/
  background-image: url('images/plate.png');
  background-size: cover;
  position: absolute;
}

button {
  width: 60px;
  height: 45px;
  background-color: yellow;
  font-size: 13px;
  border-radius: 10px;
  color: black;
  position: absolute;
  margin-left: -40px;
}

#facts_container {
  flex: 1;
  width: 300px;
  height: 350px;
  background-color: #17c62f;
  margin: 25px;
  border: 1px dotted white;
  border-radius: 25px;
  color: white;
  padding: 20px;
  font-family: 'Pangolin', cursive;
}
